certifi==2020.6.20
chardet==3.0.4
idna==2.10
mutagen==1.45.1
pkg-resources==0.0.0
pytube3==9.6.4
rapidfuzz==0.12.5
requests==2.24.0
six==1.15.0
spotipy==2.16.1
tqdm==4.51.0
typing-extensions==3.7.4.3
urllib3==1.25.11
